<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">POS Admin Panel</a>
    </div>
</div>

<input type="checkbox" id="nav-toggle" class="nav-toggle" />

<nav class="nav-menu" aria-labelledby="main-nav-heading">
    <div class="nav-item px-3">
        <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
            <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Tổng quan
        </NavLink>
    </div>

    <div class="nav-item px-3">
        <NavLink class="nav-link" href="categories">
            <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Quản lý Danh mục
        </NavLink>
    </div>

    <div class="nav-item px-3">
        <NavLink class="nav-link" href="products">
            <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Quản lý Món ăn
        </NavLink>
    </div>
</nav>